
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- 演示 Tab -->
  <ion-tab title="演示" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- 帮助 Tab -->
  <ion-tab title="帮助" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>

  <!-- 关于我们 Tab -->
  <ion-tab title="关于我们" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
