.modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; 
    width: 100%;
}
.active .modal-backdrop-bg {
    opacity: 0.7; 
} 

.modal {
	  display: block;
	  position: absolute;
	  top: 20%;
	  bottom: 20%;
	  left:10%;
	  z-index: 10;
	  overflow:visible;
	  width: 80%;
	  min-height: 240px;
	  width: 80%;
	  max-height: 280px;
	  max-width: 320px;

	  background-color: #fff; 
	  .button{
	  	z-index: 99999;
	  }
 }

@media (min-width: 320px) {
	.modal {
	 	top:10%;
	 }

	.audio-packer-modal.modal,
	.repeat-packer-modal.modal{
	  min-height:360px;
	  top: 8%;
	}
}
@media (min-width: 680px) {
	.modal {
	 	left:25%;
	 	top:10%;
	 }
}